## a reference to conditional probability and bayes rule based on :

 - udacity solution of conditional probabilty exercise. 
 - instructor of advanced Data analysis.

In [1]:
# libraries
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# dataset
df = pd.read_csv('toy_dataset.csv')

In [3]:
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [4]:
df.shape

(150000, 6)

In [5]:
df.dtypes

Number       int64
City        object
Gender      object
Age          int64
Income     float64
Illness     object
dtype: object

In [6]:
# IQR
Q1=np.percentile(df.Income,[25])[0]
Q3=np.percentile(df.Income,[75])[0]
IRQ=Q3-Q1
IRQ

23651.25

## Probability

a. The proportion of persons that are ill,  and the proportion of persons that are not ill.

In [7]:
p_i = df[df.Illness == 'Yes'].shape[0] / df.shape[0]
p_i

0.08092666666666666

In [8]:
(df.Illness == 'Yes').mean()

0.08092666666666666

In [9]:
(df.Illness == 'No').mean()

0.9190733333333333

In [10]:
1 - p_i

0.9190733333333333

In [11]:
df.Illness.value_counts()

No     137861
Yes     12139
Name: Illness, dtype: int64

if convert to bool with out replace values to zero and one all will turn to True

In [12]:
# like this 
x = df.Illness.astype('bool')

In [13]:
(x == True).mean()

1.0

### another solution with boolean

In [14]:
# another solution
# must to bool to another solution 
values = {'No':0,'Yes':1}
df['IllBool'] = df.Illness.replace(values)#,inplace=True)

df.IllBool = df.IllBool.astype('bool')
df.IllBool.mean()

0.08092666666666666

In [15]:
1 - df.IllBool.mean()

0.9190733333333333

In [16]:
df.Illness.value_counts()

No     137861
Yes     12139
Name: Illness, dtype: int64

b. The proportion of persons that are `male`.

In [17]:
df.query("Gender == 'Male'").shape[0]/df.shape[0]

0.5586666666666666

In [18]:
# bad use of query
df.query("Gender == 'Male'").mean()

Number     75049.466551
Age           44.912625
Income     95670.247196
IllBool        0.081241
dtype: float64

d. The proportion of persons that have `income` from `50000` to `100000`

In [19]:
df.query("Income > 50000 and Income <= 100000  ").shape[0]/df.shape[0]

0.5659533333333333

## Conditional Probability

a. Given that a person was in `New York City` , what is the probability that he is `ill`?

In [20]:
df.head()

   Number    City Gender  Age   Income Illness  IllBool
0       1  Dallas   Male   41  40367.0      No    False
1       2  Dallas   Male   54  45084.0      No    False
2       3  Dallas   Male   42  52483.0      No    False
3       4  Dallas   Male   40  40941.0      No    False
4       5  Dallas   Male   46  50289.0      No    False

In [21]:
(df.query('City == "New York City"')['IllBool']).mean()

0.07992923450016896

In [22]:
# another solution
df_NYC = df[df.City == 'New York City'] #Selecting New York City from Main df
df_NYC[df_NYC.Illness == 'Yes'].shape[0]/df_NYC.shape[0]

0.07992923450016896

In [23]:
# another solution
(df.query('City == "New York City"')['Illness'] == 'Yes').mean()

0.07992923450016896

In [24]:
(df.query("Illness == 'Yes'")['City']== 'New York City').mean()

0.3312463959139962

c. Given that a person is `Female` , what is the probability that she is `ill`?

In [25]:
(df.query('Gender == "Female"')['Illness'] == 'Yes').mean()

0.08052870090634441

In [26]:
df_female = df[df.Gender == 'Female']
df_female[df_female.Illness == 'Yes'].shape[0]/df_female.shape[0]

0.08052870090634441

d. Given that a person is `male and from Dallas`, what is the probability that he is `ill`

In [27]:
df2 = df[(df['Gender'] == 'Male') & (df['City'] == 'Dallas')]
df2[df2['Illness'] == 'Yes'].shape[0] / df2.shape[0]

0.08225777131430649

In [28]:
(df.query('Gender == "Male" and City =="Dallas"')['Illness'] == 'Yes').mean()

0.08225777131430649

## bayes

a. What is the probability that a person is from `Boston` given this person is `ill`

In [29]:
(df.query('Illness == "Yes"')['City'] == 'Boston').mean()

0.056512068539418404

In [30]:
df_b = df[df['City'] == 'Boston']
p_B = df_b.shape[0] / df.shape[0]
p_i_B = df_b[df_b['Illness'] == 'Yes'].shape[0]/df_b.shape[0]
p_B_i = (p_i_B * p_B) / p_i
p_B_i

0.056512068539418404

In [31]:
df_ill = df[df.Illness == "Yes"]
df_ill[df_ill.City == "Boston"].shape[0]/df_ill.shape[0] # normalize

0.056512068539418404